.form__title {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .form__title {
    font-size: 20px;
    margin-top: 40px;
  }
}