.form__submit-btn {
  width: 100%;
  border: none;
  background: #000000;
  border-radius: 2px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 0 14px;
}

.form__submit-btn:hover {
  opacity: .8;
  cursor: pointer;
}

@media (max-width: 767px) {
  .form__submit-btn {
    font-size: 14px;
    line-height: 17px;
  }
}